body {
  /*background: purple;*/
  background: linear-gradient(90deg, rgba(122, 131, 255, 1), rgba(173, 122, 255, 1));
  color: white;
  font-family: "Times", sans-serif;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub--app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.input--class {
  border-radius: 10px;
  margin: 10px 100px;
  padding: 5px 10px;
}

.lbl--input {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.btn--class {
  width: 100px;
  padding: 5px 10px;
  margin: 10px 0px;
}

.local--print {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub--local div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub--local i {
  margin: 5px 5px;
  font-size: 1.2rem;
}

/*submit*/

.submit--form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit--form h3 input button {
  display: flex;
  justify-content: center;
}

.chk--div {
  display: flex;
  align-items: center;
}

.chk--div p {
  margin-left: 10px;
}

.btn--conf {
  margin: 10px 0px;
}