.App {
  text-align: center;
}

#quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-quote {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}

.btn {
  margin: 10px 20px;
}

.new-quote a {
  margin: 0px 10px;
  padding: 0px 10px;
}