.machine--class {
  margin: 0px 200px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: lightblue;
  /*color: black;*/
  border-radius: 15px;
}

.new-quote {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: 10px 20px;
}

.new-quote a {
  margin: 0px 10px;
  padding: 0px 10px;
}