body {
  background-color: 'lightgrey';
}

h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 1px blue,
  3px 3px 3px white,
  4px 4px 4px blue;
  margin-bottom: 20px;
}

.machine--class {
  margin-top: 12%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.turn--class {
  width: 60%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  transition: ease-out 2s;
  background-color: lightblue;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}

#quote-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.9rem;
  font-style: bold;
  text-align: justify;

  animation-name: turn-me;
  animation-duration: 2s;
  transition: ease-out 2s;
  transform: rotateX(0deg);
}

#author {
  width: 80%;
  text-align: right;
  font-family: 'karla', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

#new-quote {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
}

@keyframes turn-me {
  0% {
    transform: rotateX(0deg);
    opacity: 0.1;
  }
  50% {
    transform: rotateX(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

.btn {
  margin: 10px 20px;
}

.btn:hover {
  border-color: blue;
}

.btn--custom {
  color: white;
  background-color: #0d6efd;
}

.btn--custom:hover {
  color: cyan;
  background: #0b5ed7;
  border-color: blue;
  border-style: inset;
}

.new-quote a {
  margin: 0px 10px;
  padding: 0px 10px;
}