body {
  background: lightcoral;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
  text-shadow: 2px 2px 2px navy,
  3px 3px 3px white,
  5px 5px 5px purple,
  6px 6px 6px navy; 
}

.punch--div {
  color: white;
}

.btn--punch {
  padding: 10px 10px;
  border-radius: 5px;
  border-color: lightblue;
}