body {
  background: lightskyblue;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
  text-shadow: 2px 2px 2px blue,
  3px 3px 3px white,
  5px 5px 5px blue,
  6px 6px 6px steelblue;
}

.main--div {
  width: 80%;
  margin: 20px 10%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1Fr 1Fr;
  grid-template-rows: 1Fr 1Fr;
}

.punch--div {
  color: white;
  margin: 10px 20px;
  background: steelblue;
  border: 2px solid dodgerblue;
  border-radius: 15px;
  box-shadow: 7px 7px 7px grey;
}

.punch--div > p {
  margin: 20px 50px;
  display: flex;
}

.answer--p {
  justify-content: center;
  border: 2px solid cyan;
  border-radius: 5px;
}

.pstyle {
  text-align: left;
  border: 2px solid yellow;
  border-radius: 5px;
}

.btn--punch {
  display: flex;
  padding: 10px 10px;
  margin: 20px 50px;
  border-radius: 5px;
  border-color: lightblue;
}

.form--div {
  margin: 40px 400px;
  display: flex;
  justify-content: center;
  background: steelblue;
  border: 2px solid dodgerblue;
  border-radius: 15px;
  box-shadow: 7px 7px 7px grey;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.first--input {
  margin-bottom: 10px;
}

.last--input {
  margin: 10px 0px;
}

.input--lab {
  display: flex;
  margin-top: 10px;
}

.input--lab label {
  padding: 0px 10px;
}

textarea {
  margin: 10px 0px;
}

fieldset {
  margin: 10px 0px;
  text-align: left;
}

.form--select {
  border: 1px solid white;
}

select {
  width: 120px;
  text-align: center;
  margin: 10px 0px;
}

button {
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 15px;
  border-color: cadetblue;
  background: lightskyblue;
  box-shadow: 3px 3px 2px black;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 1px black,
  2px 2px 2px white,
  3px 3px 3px blue;
}