body {
  background: lightskyblue;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
  text-shadow: 2px 2px 2px navy,
  3px 3px 3px white,
  5px 5px 5px purple,
  6px 6px 6px navy; 
}

.main--div {
  width: 80%;
  margin: 20px 10%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1Fr 1Fr;
  grid-template-rows: 1Fr 1Fr;
}

.punch--div {
  color: white;
  margin: 10px 20px;
  background: steelblue;
  border: 2px solid navy;
  border-radius: 15px;
  box-shadow: 7px 7px 7px grey;
}

.punch--div > p {
  margin: 20px 50px;
  display: flex;
}

.btn--punch {
  display: flex;
  padding: 10px 10px;
  margin: 20px 50px;
  border-radius: 5px;
  border-color: lightblue;
}
