body {
  background: steelblue;
  color: whitesmoke;
  font-family: karla, sans-serif;
}

.App {
  text-align: center;
}

.catdata--class {
  margin: 10px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first--class {
  width: 200px;
  border: 1px solid white;
}

.seccomp--class {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sec--class {
  width: 10%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;

}

.third--comp {
  border: 1px solid white;
  margin: 10px 400px;
}

.class--six {
  margin: 10px 400px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed white;
}

.class--six h3 {
  padding: 10px 0px;
  font-size: 3rem;
}

.count--class {
  font-size: 2rem;
  margin-top: 10px;
}

.btn--class {
  padding: 10px 10px;
  margin: 20px 20px;
  border-radius: 20px;
}

form {
  margin: 10px 400px;
  border: 1px dashed white;
}

form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lbl--input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  margin: 0px 0px;
}

.lbl--input input {
  margin-right: 5px;
}

.lbl--input h5 {
  margin-left: 5px;
}

.btn--submit {
  width: 130px;
  padding: 5px 10px;
  background: darkseagreen;
  color: darkgreen;
}

.btn--onClick {
  width: 130px;
  margin: 10px;
  padding: 5px 10px;
  background: lightpink;
  color: firebrick;
}