body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: lightblue;
}

#drum-wrapper {
  width: 50%;
  height: 20%;
  margin: auto;
  background-color: dimgrey;
  border-radius: 20px;
}

#drum-machine {
  height: 80%;
  margin-top: 30%;
}

#display {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 20px 20px 0px 0px;
}

#display-text {
  display: flex;
  font-family: 2rem;
  font-size: 18px;
  padding: 12px;
}

#drum-pad-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.drum-pad {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin: 10px;
}

