body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  background: slateblue;
}

.main--drum {
  margin: 5% 30%;
  min-height: 80vh;
  color: white;
  background: steelblue;
}

#drum {
  display: grid;
  grid-template-rows: 1Fr 1Fr 1Fr;
  grid-template-columns: 1Fr 1Fr 1Fr;
}

.sec--pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}