* {
  width: 0 auto;
  height: 0 auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: lightsteelblue;
}

header {
  padding: 20px 0px;
}

h1 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px lightblue,
  3px 3px 3px black;
}

h2 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px lightblue,
  3px 3px 3px black;
}

.div--myvar {
  width: 90%;
  margin: 10px 60px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1Fr 1Fr 1Fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-radius: 15px;
  background: #dee7f4;
}

.div--props {
  margin: 5px 5px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #b0c4de;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
  background: #b0c4de;
}

.div--subprops {
  padding: 10px 10px;
  margin: 5px 10px;
  font-family: Times, Arial;
  font-size: 1.1rem;
  color: blue;
  border: 1px solid blue;
  border-radius: 15px 15px 0px 0px;
  background: lightblue;
}

.p--one {
  margin: 5px 10px;
  padding: 10px 10px;
  border: 1px solid lightblue;
  border-radius: 0px 0px 15px 15px;
  background: steelblue;
  font-family: Times, Arial;
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 1px navy;
  transform: rotateZ(0deg);
}

.p--two {
  margin: 5px 10px;
  padding: 10px 10px;
  border: 1px dashed blue;
  border-radius: 0px 0px 15px 15px;
  background: lightblue;
  font-family: Times, Arial;
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 1px blue;
  transform: rotateZ(0deg);
}

.btn--me {
  margin: 5px 10px;
  padding: 10px 0px;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 1px navy;
  border-radius: 15px;
  border: 1px solid lightblue;
  background: dodgerblue;
  transform: rotateY(0deg);
}

.div--firstspecial {
  margin: 0px 400px;
  padding: 20px 0px;
}


.div--num {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.div--num button {
  padding: 10px 20px;
}

.mythird--div {
  margin-bottom: 30px;
  margin-right: 60px;
  margin-left: 60px;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  background: black;
  border: 10px solid whitesmoke;
  border-radius: 15px;
}

.main--lastco {
  border: 10px solid whitesmoke;
  border-radius: 15px;
}

.div--lastco {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  color: white;
}

.div--lastco h3 {
  width: 60%;
  margin: 10px 10px;
  padding: 10px 10px;
}

.tag--p {
  text-align: justify;
  padding: 20px 20px;
  color: white;
  border: 1px solid yellow;
  border-radius: 15px;
}

.footer--div {
  display: flex;
  border-top: 2px solid black;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: lightsteelblue;
}

nav {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  margin: 10px 40px;
}

ul {
  width: 100%;
  display: flex;
}

.div--formatnav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: safe center;
  color: purple;
  list-style-type: none;
}

.div--formatnav a {
  margin: 10px 10px;
  padding: 10px 20px;
  display: flex;
  text-decoration: none;
  color: blue;
  text-shadow: 1px 1px 1px white;
  background: lightsteelblue;
  border: 1px solid lightsteelblue;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

.div--formatnav a:hover {
  color: black;
  text-decoration: none;
  background: lightblue;
}