* {
  margin: 0;
  padding: 0;
  background: lightsteelblue;
}

.App {
  text-align: center;
}

.div--props {
  margin: 5px 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  background: white;
}

.div--props h3 {
  padding: 10px 10px;
  font-family: times, arial;
  color: white;
  text-shadow: 1px 1px 1px blue,
  2px 2px 2px lightblue;
}

.div--myvar {
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  border: 2px solid blue;
}