body
{
    width: 0 auto;
    margin: 0 auto;
    text-align: center;
    background: black;
    font-family: "Times", "serif";
    font-size: 2rem;
    color: navy;
    text-shadow: 1px 1px 1px blue,
                 2px 2px 2px lightskyblue,
                 5px 5px 3px white
}

h2
{
    color: skyblue;
    text-shadow: none;
}

.user-card
{
    width: 60%;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background: mediumpurple;
    color: navy;
    text-shadow: 2px 2px 1px lightblue;
}