.App {
  text-align: center;
  background: #a4ffff;
  height: 100vh;
}

.App-header {
  background-color: #2d60e1;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

#div--title {
  color: white;
  text-shadow: 1px 1px 1px blue,
  3px 3px 3px white,
  5px 5px 5px blue;
  font-size: 2.8rem;
}

.div--fetcheffect {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.class--search {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location--input {
  margin-bottom: 20px;
}

.btn--location {
  width: 100%;
  padding: 10px 10px;
}

.api--fetch {
  background: #2d60e1;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px grey;
}

.class--temp {
  font-size: 1.2rem;
}