body {
  font-family: Georgia, serif;
  background: #49575e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: auto;
  height: auto;
  text-align: center;
  background: #29353b;
  height: 100vh;
}

.App-header {
  background-color: slateblue;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  box-shadow: 3px 3px 3px violet,
  5px 5px 5px pink;
}

#div--title {
  color: white;
  text-shadow: 1px 1px 1px blue,
  3px 3px 3px white,
  5px 5px 5px blue;
  font-size: 2.8rem;
}

.div--fetcheffect {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.api--fetch {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background: slateblue;
  color: white;
  border-radius: 12px;
  box-shadow: 3px 3px 3px violet,
  5px 5px 5px pink;
}

.class--search {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.class--search h3 {
  font-size: 1.6rem;
  color: white;
  text-shadow: 1px 1px 1px blue,
  2px 2px 2px white,
  4px 4px 4px blue;
}

.app--data {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.location--input {
  padding: 3px 8px;
  margin: 0px 10px;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 1.2rem;
}

.btn--location {
  padding: 10px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
  font-size: 1rem;
  color: yellow;
  background: #764abc;
}

.btn--location:hover {
  color: blue;
  background: lightblue;
}

.div--hour {
  width: 100%;
  line-height: 2%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.div--searchconvert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pa--tag {
  font-size: 1.8rem;
}

.div--hour h3 {
  margin-right: 5px;
}

.div--hour h2 {
  margin-left: 5px;
}


.data--city {
  width: 45%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 12px;
  text-align: left;
}

.data--weather {
  width: 45%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 12px;
  text-align: left;
}

.class--temp {
  font-size: 1.4rem;
  margin: 10px 20px;
  padding: 0px 10px;
}

/*  to read date from api */

.title--class {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px purple,
  3px 3px 3px white,
  5px 5px 5px blue;
}

.class--retrive {
  display: flex;
  box-sizing: border-box;
  color: navy;
  border: 2px solid white;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: justify;
}

.url--class {
  text-decoration: underline;
}

.class--retrive li {
  list-style: none;
  margin: 10px 10px;
}