body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(10, 0, 148, 1));
}

#div--planet {
  margin: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.earth--class {
  width: 300px;
  height: 300px;
}

#div--saturne {
  margin: auto;
  position: fixed;
  top: 150px;
  left: 100px;
  z-index: 0;
}

.saturne--class {
  width: 100px;
  height: 100px;
}

.first {
  position: fixed;
  top: 400px;
  left: 180px;
  width: 2px;
  height: 2px;
  border-radius: 5px;
  background: white;

  animation-name: animoy;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.second {
  position: fixed;
  top: 120px;
  left: 900px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: white;

  transition: ease-in-out 0.2s;
  animation-name: animoy;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.third {
  position: fixed;
  top: 20px;
  left: 100px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: white;

  animation-name: animoy;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-duration: 4s;

}

.fourth {
  position: fixed;
  top: 650px;
  left: 900px;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background: white;

  transition: 0.3s ease-in-out;
  animation-name: animoy;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 4s; 
}

.fifth {
  position: fixed;
  top: 430px;
  left: 800px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: white;
  opacity: 0.6;

  transition: 0.3s ease-in-out;
  animation-name: animoy;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 4s; 
}

.sixth {
  position: fixed;
  top: 280px;
  left: 400px;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: white;
  opacity: 0.6;

  transition: 0.3s ease-in-out;
  animation-name: animoy;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-duration: 3s; 
}

.seven {
  position: fixed;
  top: 50px;
  left: 400px;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background: white;
  opacity: 0.6;

  transition: 0.6s ease-in-out;
  animation-name: animoy;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 3s; 
}

.eight {
  position: fixed;
  top: 800px;
  left: 160px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: white;

  transition: 0.6s ease-in-out;
  animation-name: animoy;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-duration: 2s; 
}

.nine {
  position: fixed;
  top: 120px;
  left: 570px;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background: white;

  transition: 0.6s ease-in-out;
  animation-name: animoy;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: 3s; 
}
/*
filter:  blur(2px);
opacity: 0.8;
transition: ease-in-out 0.2s;
*/

@keyframes animoy {
  0% {
    transform: scale(0.1);
    filter: blur(1px);
  }
  50% {
    transform: scale(1.2);
    transition: ease-in 0.2s;
  }
  100% {
    transform: scale(0.1);
    transition: ease-out 0.2s;
  }
}

.main--app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 40%;
  margin-top: 18%;
  display: flex;
  justify-content: center;
  border: 10px solid #5d7d88;
  border-radius: 12px;
  box-shadow: 1px 1px 10px white;
  background: rgba(133, 141, 255, 0.1);
  z-index: 1;
}

.reorder--app {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  /*background-image: url("./images/universe-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  flex-direction: column;
}

.main--divinput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 7%;
  font-size: 3rem;
  color: navajowhite;
  text-shadow: 3px 2px 1px black,
  4px 3px 1px white;
}

h3 {
  margin: 0px 100px;
  font-size: 1.6rem;
  color: white;
  text-shadow: 2px 2px 1px black;
}

h4 {
  color: white;
  font-size: 1.2rem;
}

#ps-div {
  margin: auto;
}

.input--div1 {
  width: 300px;
  padding: 5px 10px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#pw-div {
  margin: auto;
}

.input--div2 {
  width: 300px;
  padding: 5px 10px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: right;
}

input {
  width: 180px;
  margin: 5px 5px;
  padding: 5px 5px;
}

button {
  margin: 4% 30%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  font-family: "One-serif", serif;
  background: #5d7d88;
  border-radius: 12px;
}

button:hover {
  background: navy;
}

button > p {
  margin: 5px 0px;
  margin-right: 10px;
  font-size: 1.2rem;
  color: white;
}

.icons {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.unit--icon {
  margin-right: 10px;
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  body {
    background: black;
  }
  #div--planet {
    left: 15px;
    opacity: 0.8;
    z-index: 0;
  }
  .earth--class {
    width: auto;
    margin-top: 35%;
    width: 450px;
    height: 450px;
  }

  #div--saturne {
    width: 30%;
    margin: 10px 20px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 0;
  }

  .saturne--class {
    width: 100px;
    height: 100px;
  }

  .main--app {
    width: 100%;
    display: flex;
    justify-content: center;
    /*z-index: 1;*/
  }

  .App {
    width: 80%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 12px;
    box-shadow: 1px 1px 10px white;
    background: rgba(133, 141, 255, 0.2);
    z-index: 1;
  }

  .reorder--app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;

    background: transparent;
    flex-direction: column;
  }

  button {
    margin: 10% 30%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    font-family: "One-serif", serif;
    background: #5d7d88;
    border-radius: 12px;
  }

  .icons {
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
  }

  .unit--icon {
    height: 1px;
    width: 1px;
    margin-right: 50px;
    opacity: 0.5;
  }
}

