body {
  background: slateblue;
  color: white;
}

.App {
  height: 50%;
  padding: 20px 20px;
  margin: 7% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkslateblue;
  border: 5px solid slateblue;
  border-radius: 12px;
  box-shadow: 3px 3px 10px black;
}

.first--input {
  width: 130px;
}

input {
  width: 40px;
  margin-bottom: 20px;
}