body {
  background: url('./images/redact.jpg') no-repeat fixed center/cover;;
}

h1 {
  color: purple;
  text-shadow: 2px 1px 2px white;
  opacity: 1;
}

h3 {
  font-size: 1.6rem;
  color: steelblue;
  text-shadow: 2px 1px 2px white;
  opacity: 1;
}

.App {
  margin: 18% 30%;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  background: #dcdcdc;
  opacity: 0.5;
  border-radius: 12px;
}

.reorder--app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

input {
  margin: 5px 0px;
}

button {
  margin: 10px;
}