body {
  background: lightcoral;
}

.App {
  text-align: center;
}

.div--pass {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.div--input {
  display: flex;
  margin: 10px 0px;
}

.div--app {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card--div {
  width: 20%;
  border: 2px solid black;
}
