* {
  margin: 0;
  padding: 0;
  background: lightslategray;
  color: whitesmoke;
}

body {
  background: lightcoral;
}

.App {
  text-align: center;
}

.div--pass {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid whitesmoke;
}

.div--input {
  display: flex;
  margin: 10px 0px;
}

.div--returncard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card--div {
  width: 20%;
  border: 2px solid whitesmoke;
}
