body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: skyblue;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.App {
  margin: 100px 400px;
  padding: 10px 10px;
  display: grid;
  border-radius: 12px;
  border: 3px solid white;
  background: steelblue;
}

.calculator {
  margin: 20px 20px;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1Fr 1Fr 1Fr 1Fr;
  grid-template-rows: 1Fr 1Fr 1Fr 1Fr 1Fr;

}

button {
  padding: 10px 10px;
  font-size: 1.2rem;
  color: white;
  background: dimgrey;
}

#display {
  margin: 0px 10px;
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  background: lightgray;
  border-radius: 12px;
}