*{
  margin: 0;
  padding: 0;
  background: navajowhite;
  box-sizing: border-box;
}

.div--nav {
  display: flex;
  margin: 10px 0px;
  border-bottom: 1px solid black;
}

.div--nav li {
  margin: 10px 30px;
  color: purple;
}

.div--nav a {
  text-decoration: none;
}

.class--h4 {
  margin-top: 20px;
}

.data--div {
  margin: 10px 20px;
  color: dodgerblue;
}

.div--item {
  margin: 10px 0px;
}