body  {
  background: salmon;
  width: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.text-center {
  color: white;
}

#editor {
  color: violet;
}

#preview {
  color: darkblue;
}

textarea, .preview {
  min-height: 400px;
}