body {
  background: navy;
  color: white;
}

.App {
  margin: 20px 20px;
  padding: 20px 0px;
  border-radius: 20px;
  text-align: center;
  background: dodgerblue;
}


.card--name {
  border: 2px solid yellow;
  margin: 2% 5%;
}

.card--img {
  width: 200px;
  height: 200px;
}

.flex--all {
  margin: 10px 10px;
  box-sizing: border-box;
}

.flex--contact {
  padding-right: 1%;
  padding-left: 1%;
  width: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /*border: 2px solid orange;*/
}

/* Need to know how to handle actions
in JSX with HTML/CSS !!!
*/

.card--badge {
  position: absolute;
  margin-top: 1%;
  margin-left: 5%;
  border:  2px solid white;
}

/*
.card-namejs {
  margin: 2% 10%;
  border-radius: 15px;
  border: 2px dashed navy;
}
*/

.contact--card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  border-radius: 15px;
  border: 2px solid yellow;
}

.main--div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px;
}

.img--size {
  margin: 0px 20px;
  width: 100px;
  height: 100px;
}

.imgphone--size {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact--phone {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 4%;
}

.div--phone {
  margin: 0px 0px;
}

.div--propsphone p {
  margin: 0px 0px;
}

.imgmail--size {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact--email {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 4%;
  margin-bottom: 10px;
}

.contact--email p {
  margin: 0px 0px;
}

.joke--elements {
  display: flex;
  justify-content: space-between;
}

.div--joke {
  text-align: left;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 2px solid yellow;
}

.img--joke {
  width: 100px;
  height: 100px;
}
/*
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/